

/* Headings Fonts variables */
$font-accident-one-bold:          'Montserrat', sans-serif;
$font-accident-one-normal:        'Montserrat', sans-serif;
$font-accident-two:               'Dosis', sans-serif;
$font-regular:                    'Raleway',     sans-serif;

/* Heading font one */
.font-accident-one-bold           {  font-family: $font-accident-one-bold;  font-weight: 700;  font-style: normal;  }
.font-accident-one-normal         {  font-family: $font-accident-one-normal;  font-weight: 400;  font-style: normal;  }

/* Heading font two */
.font-accident-two-normal         {  font-family: $font-accident-two;  font-weight: 200;  }
.font-accident-two-bold           {  font-family: $font-accident-two;  font-weight: 500;  }
.font-accident-two-extrabold      {  font-family: $font-accident-two;  font-weight: 700;  }

/* Regular font */
.font-regular-light               {  font-family: $font-regular;  font-weight: 400;  font-style: normal;  }
.font-regular-normal              {  font-family: $font-regular;  font-weight: 400;  font-style: normal;  }
.font-regular-bold                {  font-family: $font-regular;  font-weight: 700;  font-style: normal;  }

/* Headings */
h1 {}
h2 { font-size: 48px;}
h3 {
  line-height: 1.5em;
  font-size: 32px;
}
h4 {letter-spacing: 3px;}
h5 {letter-spacing: 3px;}
h6 {
  font-size: 11px;
  letter-spacing: 3px;
}
h4, h5, h6 { a {color: $hovercolor;} }
p {letter-spacing: 1px;}

.title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  display: initial;
}
.title-light {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: initial;
}
/* Paragraphs */
.big {font-size: 16px;}
.small {font-size: 12px;}
.extrasmall {font-size: 10px;}
.superheading {  font-size: 48px;  }